<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602499487863-urq78s8fv2eq0gss9gbone99u741r6p0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602499487863-urq78s8fv2eq0gss9gbone99u741r6p0</string>
	<key>API_KEY</key>
	<string>AIzaSyA-9GA6bZCOOzHt9vlJK0lWUI8Qx3ijKj8</string>
	<key>GCM_SENDER_ID</key>
	<string>602499487863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Jaheed.InstagramApp</string>
	<key>PROJECT_ID</key>
	<string>instagramapp-4d605</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramapp-4d605.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602499487863:ios:370b50811405e1c4190e72</string>
	<key>DATABASE_URL</key>
	<string>https://instagramapp-4d605.firebaseio.com</string>
</dict>
</plist>